.building_wrapper {
    position: relative;
    width: 712px;
    height: 769px;
}

.building_wrapper img {
    width: 100%;
    height: 100%;
}

.black_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 712px;
    height: 769px;
    background-color: black;
    z-index: -2;
}

.elevator {
    position: absolute;
    bottom: 90px;
    left: 16px;
    width: 680px;
    height: 40px;
    background-color: gold;
    filter: blur(6px);
    z-index: -1;
}